/* ".bottom-bar" targets tabs when placed at the bottom of the window, while ".top-bar" targets tabs when placed at the top of the window. */

/* seamless transparent tabs */
.bottom-bar,
.top-bar {
  background: alpha(#16181a, 0.85);
  box-shadow: none;
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
}

tabbar tabbox {
  min-height: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

tabbar tabbox tab {
  min-height: 14px;
}

/* hide tab "x" close buttons */
.bottom-bar tab button.tab-close-button,
.top-bar tab button.tab-close-button {
  min-width: 0;
  min-height: 0;
  padding: 0;
  opacity: 0;
  -gtk-icon-size: 0px;
}
