lazy-lock.json
hypr/hyprpaper.conf

/home/dms/plugins/*
/home/dms/zen.css
/home/niri/dms/colors.kdl
/home/niri/output-active.kdl
/home/dms/plugin_settings.json
/home/pi/agent/auth.json
/home/pi/agent/models-store.json
/home/pi/agent/sessions
/home/pi/agent/themes
/home/pi/agent/trust.json
