* {
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-nixlogo,
#workspaces,
#tray {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    margin: 0 4px;
}

#workspaces {
    padding-left: 0;
}

#custom-nixlogo {
    padding-right: 0;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
