* {
    font-family: "Ubuntu Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(16, 22, 33, 0.7);
    color: #ffffff;
}

#clock,
#cpu,
#bluetooth,
#memory,
#temperature,
#pulseaudio,
#wireplumber,
#workspaces,
#tray {
    padding: 0 0.5em;
}
