// https://yalter.github.io/niri/
include "appearance.kdl"
include "input.kdl"
include "keybinds.kdl"
include "output.kdl"
include "windowrules.kdl"

spawn-at-startup "hyprlock"
screenshot-path  "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay { skip-at-startup; }
