* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: rgba(16, 22, 33, 0.5);
  color: #eee;
}

#workspaces,
#window,
#clock,
#network,
#cpu,
#battery,
#bluetooth,
#memory,
#temperature,
#pulseaudio,
#power-profiles-daemon,
#workspaces,
#idle_inhibitor,
#tray {
  padding: 0px 10px;
  background: transparent;
  border: none;
  box-shadow: none;
}

#tray {
  padding-left: 3px;
  margin-right: 5px;
}
