* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: rgba(22, 24, 26, 0.9);
  color: #eee;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-wireguard,
#idle_inhibitor,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces {
  padding: 0px 10px;
  background: transparent;
  border: none;
  box-shadow: none;
}

#tray {
  padding-left: 3px;
  margin-right: 5px;
}

#workspaces button {
  padding: 5px 5px;
  color: #eee;
}
